@font-face{
	font-family: 'replay';
	src:
		url('../font/replay.ttf')  format('truetype');
}

html, body{
	height: 100%;
	width: 100%;
}

.ws-big-logo{
	width: 12.5%;
}

.ws-fill-parent{
	height: 100%;
}

.ws-container-logo{
	height: 50%;
}

.ws-container-menu{
	height: 50%;
}

.ws-tc-color-1{
	color: #B41414;
}

.ws-tc-color-2{
	color: #931414;
}

.ws-tc-color-3{
	color: #6F140E;
}

.ws-tc-bg-1{
	background-color: #B41414;
}

.ws-tc-bg-2{
	background-color: #931414;
}
.ws-tc-bg-3{
	background-color: #6F140E;
}

.ws-tc-txt{
	font-family: replay;
}

.ws-txt-white{
	color: white;
}

.ws-red-border{
	border-color: #6F140E;
}

.ws-menu-img{
	height: 180px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.ws-txt-l{
	font-size: 4rem;
	font-family: replay;
}

.uk-card-title {
    font-size: 1.5rem;
    line-height: 1.4;
	font-family: replay;
}

.ws-align-center{
	display: flex;
	justify-content: center;
}

.ws-txt-timer{
	font-family: replay;
	font-size: 13rem;
}

.ws-txt-timer-utama{
	font-family: replay;
	font-size: 6rem;
}

.ws-timer-btn{
	font-size: 3rem;
}

h1, h2, h3, h4, h5, h6{
	font-family: replay;
}

.ws-btn-round{
	border-radius: 500px;
}

/*small*/
@media screen and (max-width: 640px){
	.ws-txt-l{
		font-size: 1.2rem;
		font-family: replay;
	}
	
	.uk-card-title {
		font-size: 1rem;
		line-height: 1;
		font-family: replay;
	}
	
	.ws-menu-img{
		height: 40px;
		width: 100%;
	}
	
	.ws-txt-timer{
		font-family: replay;
		font-size: 4rem;
	}
	
	h1{
		font-size: 1.2rem;
	}
	
	.ws-timer-btn{
		font-size: 1.5rem;
	}
}

/*medium*/
@media screen and (min-width: 640px) and (max-width: 960px){
	.ws-txt-l{
		font-size: 2rem;
		font-family: replay;
	}
	
	.uk-card-title {
		font-size: 1.25rem;
		line-height: 1.2;
		font-family: replay;
	}
	
	.ws-menu-img{
		height: 80px;
	}
	
	.ws-txt-timer{
		font-family: replay;
		font-size: 8rem;
	}
	
	h1{
		font-size: 1.5rem;
	}
	
	.ws-timer-btn{
		font-size: 2rem;
	}
}